script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
h1= title
p Welcome to #{title}
#qrcode
script.
  function S4() {
    return (((1+Math.random())*0x10000)|0).toString(16).substring(1);
  }
 
  function NewGuid() {
    return (S4()+S4());
  }
          
  $(document).ready(function(){
    var key = NewGuid();
    console.log(key);
    $("#qrcode").append("<img src='http://chart.apis.google.com/chart?chs=300x300&cht=qr&chl=http://givemetempo.herokuapp.com/controll/?key=" + key + "&choe=UTF-8' />");
  });
    
 