script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
script(src='/socket.io/socket.io.js')
h1= title
input(type='button', id="addqrcode", value="Add")
p to #{title}
#status
#qrcode
#scoreboard
    table.example1
        tr
          td Player
          td 次數
script.
  function S4() {
    return (((1+Math.random())*0x10000)|0).toString(16).substring(1);
  }
 
  function NewGuid() {
    return (S4()+S4());
  }
  
  $('#addqrcode').click(function(){
    var key = NewGuid();
    console.log(key);
    $("#qrcode").append("<img id='"+key+"_qrcode' src='http://chart.apis.google.com/chart?chs=300x300&cht=qr&chl=http://givemetempo.herokuapp.com/controll/" + key + "&choe=UTF-8' />"); 
  });
          
  $(document).ready(function(){
     // NodeJS Server
     //var nodejs_server = process.env.IP+":"+process.env.PORT;
     var nodejs_server = window.location.hostname;
     // connect
     var socket = io.connect("" + nodejs_server);
     var people_count = 0;
     var player_key = [];
     socket.on("get_response", function (b) {
        var combine = b.key + "_" + b.act;
        console.log(combine);
 
        switch (combine) {
           case b.key + "_enter":
              if ( $.inArray(b.key, player_key) > -1 ) break;
              setTimeout(function () {
                 $("#"+b.key+"_qrcode").hide();
                 //$("#status").append("<div>mobile IN</div>");
                 people_count = people_count + 1;
                 player_key.push(b.key);
                 $(".example1").append("<tr><td>"+people_count+"P</td><td><span class='"+b.key+"_score'>0</span></td></tr>");
                 socket.emit("send", {
                    key: b.key,
                    count: people_count,
                    act: "countme"
                 });
              },500);
            break;
 
            case b.key + "_changescore":
               setTimeout(function () {
                  $('.'+b.key+'_score').text(b.score);
                }, 500);
            break;
        }
    });
  });